<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0; /* Cambia el color de fondo si lo deseas */
        }
        .container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .error-message {
            color: red;
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function verificarEmail() {
            var email = document.getElementById("email").value;
            var errorMessage = document.getElementById("error-message-email");

            // Si el campo de correo está vacío, oculta el mensaje de error
            if (email.trim() === '') {
                errorMessage.style.display = "none";
                return;
            }

            $.ajax({
                url: '/verificar_email',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ email: email }),
                success: function(response) {
                    if (response.used) {
                        errorMessage.style.display = "block"; // Mostrar mensaje si el correo ya está en uso
                    } else {
                        errorMessage.style.display = "none"; // Ocultar mensaje si el correo está disponible
                    }
                },
                error: function(xhr, textStatus, error) {
                    errorMessage.style.display = "none"; // Ocultar mensaje si hay un error en la solicitud
                }
            });
        }

        function validateForm() {
            var password = document.getElementById("password").value;
            var passwordRepeat = document.getElementById("password_repeat").value;
            var errorMessage = document.getElementById("error-message");

            if (password !== passwordRepeat) {
                errorMessage.style.display = "block";
                return false;
            } else {
                errorMessage.style.display = "none";
                return true;
            }
        }

        function hideErrorMessage() {
            var errorMessage = document.getElementById("error-message-email");
            errorMessage.style.display = "none"; // Ocultar el mensaje de error
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Registrarse</h2>
        <form action="{{ url_for('register') }}" method="POST" onsubmit="return validateForm()">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required><br>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required onblur="verificarEmail()" oninput="hideErrorMessage()"><br>
            <span id="error-message-email" class="error-message">El correo electrónico ya está en uso</span><br>
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="claustro">Claustro:</label>
            <select id="claustro" name="claustro" required>
                <option value="estudiante">Estudiante</option>
                <option value="docente">Docente</option>
                <option value="PAyS">PAyS</option>
            </select><br>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required><br>
            <label for="password_repeat">Repetir contraseña:</label>
            <input type="password" id="password_repeat" name="password_repeat" required><br>
            <span id="error-message" class="error-message">Las contraseñas no coinciden</span><br>
            <button type="submit">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Iniciar Sesión</a></p>
    </div>
</body>
</html>

